html {
    color:black; 
    background-image: linear-gradient(to left, #0f12142b,#cccccc  );
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 100px;
    justify-content:center ;
    padding: 20px;
    margin-top: -25px;
    
    }
    .contenedor{
        align-content: center;
        justify-content:center ;
        display: grid;
        height: 65vh;
    }
    
    .boton{
        border: 3px solid rgb(100,100,100,0.1);
        margin-bottom: 10px;
        padding: 20px;
        width: 350px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
        color: rgb(2, 2, 2);
        background: 300%;
        border-color: black;
        background-image: linear-gradient(to left, #c9d7d5, #ededed, #cacead  );
        font-weight:  bold;
        font-size: 20px;
        box-shadow: 10px 5px 5px black;
}

.num{
    border: 3px solid rgb(100,100,100,0.1);
        padding: 20px; 
        width: 300px;
        font-size: 16px;
        border-radius: 50px;
        border-color: black;      
}
